
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Virtual environment
.venv/
env/
venv/
ENV/

# Jupyter Notebooks
.ipynb_checkpoints

# Streamlit cache
.streamlit/

# Logs and output
*.log
*.out
*.DS_Store

# Python backup files
*.bak
*.swp

# VS Code
.vscode/

# Mac/Windows hidden files
Thumbs.db
.DS_Store
